* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);

    font-family: 'Outfit';
    font-size: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: hsl(0, 0%, 100%);

    width: 320px;
    padding: 16px;
    padding-bottom: 24px;
    border-radius: 20px;
    box-shadow: 
    0 10px 30px rgba(0, 0, 0, 0.07), 
        0 2px 10px rgba(0, 0, 0, 0.03);
}

.text {
    padding: 16px;
}

img {
    border-radius: 10px;
}

.title {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: 22px;
}

.description {
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    padding-top: 16px;
}